@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #1a1c1e;
  color: white;
}

.text-2xs {
  font-size: 10px;
}

.border-1 {
  border-width: 1px;
}

h3 {
  @apply font-semibold text-xl;
}

button {
  @apply text-xs font-normal px-3 py-2 rounded-md shadow-lg;
}

.buttonExcel {
  @apply bg-blue-600 text-xs font-normal px-3 py-2 rounded-md shadow-lg;
}

.fieldTable {
  @apply bg-[#2f3336] font-semibold rounded-md px-1 shadow-sm shadow-gray-900;
}

a{
  @apply underline text-blue-500 text-xs font-bold
}